body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-image: url('../images/bg-container.jpg');
  background-size: contain;
  background-position: center;
}

h1 {
  text-align: center;
  color: #f7f7f7;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  color: #f7f7f7;
}
.noteForm-button{
  width: 30%;
  margin: auto;
}

.btn.btn-success.mt-3 {
  width: 30%;
  margin: auto;
}
.note {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
#notesList {
  margin-top: 100px;
}
.card-body,
.note.card.mb-3  {
  background-color: #ede8d1;
}

.card-title {
  font-family: 'Caveat', cursive, serif;
  font-weight: 600;
}

.important-note {
  background-color: #dcffc3; 
}

/* Мобильные телефоны */
@media (max-width: 480px) {
  .form-check{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn.btn-success.mt-3{
    width: 50%;
  }
}